body {
    background-color: #F8F8F8;
    color: #151720;
    font-family: 'Hind Madurai', sans-serif;
}

h2, h3 {
    font-family: 'Lora', serif;
}

.navbar-custom {
    background-color: #F8A825;
}

#logo-text {
    color: #3E3C57;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.nav-item .nav-link {
    /* color: #3E3C57; */
    font-size: 18px;
    margin: 0px 5px;
}

#navbarContent > ul > li > a {
    color: #3E3C57;
}

#hero-banner {
    background-color: #F8A825;
    height: 40vh;
}

#hero-banner .row {
    height: 100%;
}

.featured-box {
    background-color: #F8F8F8;
    border-radius: 10px;
    height: 100%;
}

.featured-img {
    object-fit: cover;
}

.search-inputs {
    height: 60px;
    border-radius: 25px;
}

.search-criteria {
    width: 100px;
    padding-left: 20px;
}

.search-text {
    width: 70%;
    text-align: center;
}

.search-submit {
    width: 10%;
    border: none;
    background-color: lightgreen;
}

.card-title, .card-text {
    text-transform: capitalize;
}

.card-title{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-upload {
    background-color: white;
    height: 300px;
    border-bottom: 1px dashed black;
}

#img-filebrowser {
    width: 200px;
    margin: 120px auto;
}

ul.add-notes-container li {
    display:inline-block;
    list-style: none;
}

.add-notes-container {
    padding-left: 0px;
}

ul.add-notes-container li input {
    margin-right: 5px;
}

ul.add-notes-container li label {
    margin-bottom: 0px;
}

.add-notes-checkboxes {
    background-color: #F8F8F8;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.toggleInput {
    display: none;
}

#livePreview {
    position: sticky;
    top: 0px;
}

.addBeanInput {
    display: inline;
    white-space: nowrap;
}

.card-img-top:hover {
    filter: grayscale(100%);
}

ul.bean-info {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
}

.bean-note {
    background-color: #F8F8F8;
}

.cloud-note {
    background-color: white;
    border: none;
}

.checkbox-container input[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

input[name="tag"] {
    padding: 4px 8px;
    margin: 4px;
}

input[type=checkbox]:checked + label.cloud-note {
    background-color: #F8A825;
    border: none;
}

.cloud-75 {
    font-size: 175%;
}

.cloud-50 {
    font-size: 125%;
}

.cloud-25 {
    font-size: 100%;
}

.cloud-0 {
    font-size: 80%;
}

.note-bubble {
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    line-height: 50px;
    margin: 5px;
    vertical-align: middle;
}

.note-bubble:hover {
    background-color: #F8A825;
    cursor: pointer;
}

.notes-container {
    text-align: center;
}

.custom-card-footer {
    height: 15px;
}

.user-submitted {
    position: absolute;
    bottom: 10px;
}

.filter-checks {
    text-transform: capitalize;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;
}

.filter-checks > label {
    min-width: 80px;
}

#organicLabel {
    width: 6em;
    text-align: right;
}


