{% macro input(formId, firstNameValue, lastNameValue, emailValue, usernameValue) -%}
    <div class="account-input mx-auto">
        <h3 class="card-title text-center">Account information</h3>
        <h6 class="text-center">* Required</h6>
        <div class="row mt-4 justify-content-center mb-4">
            <form id="{{ formId }}" method="POST" class="w-100">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">First name{% if request.endpoint == 'signup' %}*{% endif %}</label>
                        <input type="text" class="form-control custom-capitalize custom-input" name="inputFirstName" id="inputFirstName" {% if firstNameValue %}value="{{ firstNameValue }}"{% endif %} placeholder="John/Jane" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Last name{% if request.endpoint == 'signup' %}*{% endif %}</label>
                        <input type="text" class="form-control custom-capitalize custom-input" name="inputLastName" id="inputLastName" {% if lastNameValue %}value="{{ lastNameValue }}"{% endif %} placeholder="Smith" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail">Email{% if request.endpoint == 'signup' %}*{% endif %}</label>
                    <input type="email" class="form-control custom-input" name="inputEmail" id="inputEmail" {% if emailValue %}value="{{ emailValue }}"{% endif %} placeholder="email@domain.com" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputUsername">Username{% if request.endpoint == 'signup' %}*{% endif %}</label>
                        <input type="text" class="form-control custom-input" name="inputUsername" id="inputUsername" {% if usernameValue %}value="{{ usernameValue }}"{% endif %} placeholder="Username" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password*</label>
                        <input type="password" class="form-control mb-3 custom-input" minlength="8" maxlength="15" name="inputPassword" id="inputPassword" placeholder="Password" required>
                        <label for="inputConfirmPassword">Confirm Password*</label>
                        <input type="password" class="form-control custom-input" minlength="8" maxlength="15" name="inputConfirmPassword" id="inputConfirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password criteria</label>
                        <div class="bg-light password-checker p-3 w-100">
                            <i id="characterLength" class="bi bi-check-circle"></i> Between 8 - 15 characters<br>
                            <i id="uppercaseCheck" class="bi bi-check-circle"></i> At least 1 uppercase letter<br>
                            <i id="numberCheck" class="bi bi-check-circle"></i> At least 1 number<br>
                            <i id="matchCheck" class="bi bi-check-circle"></i> Passwords must match
                        </div>
                    </div>
                </div>
                {% if request.endpoint == 'signup' %}<small>Already have an account? <a href="{{ url_for('login') }}"><u>Sign in to your account here.</u></a></small><br>{% endif %}
                <button type="submit" class="btn btn-custom mt-3">Save changes</button>
            </form>
        </div>
    </div>

{%- endmacro %}