{% extends "base_input.html" %}

{% block title %}CoffeeDB: Add a coffee{% endblock %}

{% block header %}
    Add a coffee
{% endblock %}

{% block addSubmit %}
    <input id="submitCoffee" name="addCoffee" type="submit" class="btn btn-custom"></input>
{% endblock %}

{% block recently_added %}
    <div class="container-fluid">
        <h2 class="text-center my-4">Most recently added</h2>
        <div class="row">
            <div class="col-12 col-md-6 d-block d-xl-none my-2">
                {{ individual_card.input(beans[0]) }}
            </div>
            <div class="col-12 col-md-6 d-block d-xl-none my-2">
                {{ individual_card.input(beans[1]) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-none d-xl-block">
                {{ card_stack.input(beans) }}
            </div>
        </div>
    </div>
{% endblock %}