{% extends "base.html" %}
{% import 'card.html' as card %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-center mt-4">Add a coffee</h2>
        </div>
        <div class="d-none d-md-block col-6">
            <h2 class="text-center mt-4">Live preview</h2>
        </div>
    </div>
    <div class="row gy-4 justify-content-center">
        <div class="col-12 col-md-6 p-2">
            <form id="addCoffee" class="card" method="POST">
                <div class="img-upload form-group">
                    <a id="resetUpload" class="btn btn-light float-right mt-1 mr-1">Reset</a>
                    <div id="img-filebrowser" class="form-group text-center">
                        <a id="uploadTrigger" class="btn btn-primary">Upload Image</a>
                        <label for="imgURL" class="my-2">Or enter image URL below</label>
                        <input id="imgURL" class="form-control form-control-lg text-center" name="imgURL" type="url" required placeholder="http://example.com/image.jpg">
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="brandInput" class="col-md-12 col-lg-3 col-form-label text-center">Brand*</label>
                        <div class="col-md-12 col-lg-9">
                            <select id="brandInput" name="brand" class="dynamicSelection form-control form-control-lg" required>
                                <option selected disabled value="">Select brand</option>
                                {% for brand in brand_names %}
                                    <option>{{ brand }}</option>
                                {% endfor %}
                                <option disabled></option>
                                <option>Other...</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-lg-9 offset-lg-3 toggleInput">
                            <input type="text" name="brand" class="customInput mt-3 form-control form-control-lg" placeholder="Enter new brand">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nameInput" class="col-md-12 col-lg-3 col-form-label text-center">Name*</label>
                        <div class="col-md-12 col-lg-9">
                            <input id="nameInput" name="name" type="text" placeholder="Enter coffee name" class="form-control form-control-lg" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="roastInput" class="col-md-12 col-lg-3 col-form-label text-center">Roast*</label>
                        <div class="col-md-12 col-lg-9">
                            <select id="roastInput" name="roast" class="form-control form-control-lg" required>
                                <option value="" disabled selected>Select roast</option>
                                {% for roast in roast_types %}
                                    <option>{{ roast }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="originInput" class="col-md-12 col-lg-3 col-form-label text-center">Origin*</label>
                        <div class="col-md-12 col-lg-9">
                            <select id="originInput" name="origin" class="dynamicSelection form-control form-control-lg" required>
                                <option selected disabled value="">Select origin</option>
                                {% for origin in origin_types %}
                                    <option>{{ origin }}</option>
                                {% endfor %}
                                <option disabled></option>
                                <option>Other...</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-lg-9 offset-lg-3 toggleInput">
                            <input type="text" name="origin" class="customInput form-control form-control-lg" placeholder="Enter new origin">
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label for="organicToggle" class="col-md-12 col-lg-3 col-form-label">Organic</label>
                        <input id="organicToggle" name="organic" value="True" class="col-md-12 col-lg-9" type="checkbox">
                    </div> -->
                    <div class="form-group row">
                        <label for="organicToggle" class="col-md-12 col-lg-3 col-form-label text-center">Organic</label>
                        <div class="custom-control custom-switch col-md-12 col-lg-8 ml-3 text-center text-lg-left pt-1">
                            <input id="organicToggle" name="organic" type="checkbox" class="custom-control-input" value="True">
                            <label id="organicLabel" class="custom-control-label" for="organicToggle">Off</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="websiteInput" class="col-md-12 col-lg-3 col-form-label text-center">Website*</label>
                        <div class="col-md-12 col-lg-9">
                            <input id="websiteInput" name="website" type="url" placeholder="https://example.com" class="form-control form-control-lg" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <span class="col-md-12 col-lg-3 col-form-label text-center">Notes</span>
                        <div class="col-md-12 col-lg-9 add-notes">
                            <ul class="add-notes-container text-center text-lg-left">
                                {% for note in uniqueNotes %}
                                    <li class="add-notes-checkboxes"><label><input name="note" value="{{ note }}" class="note-checkbox" type="checkbox">{{ note }}</label></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customNoteInput" class="col-12 col-form-label text-center">Add another note</label>
                        <div class="col-12 input-group">
                            <input id="customNoteInput" type="text" class="form-control">
                            <div class="input-group-append">
                                <button id="addNote" class="btn btn-outline-primary" type="button" disabled>Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 text-center">
                            <input id="submitCoffee" type="submit" class="btn btn-primary"></input>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="livePreview" class="col-6 d-none d-md-block p-2 h-100">
            <div class="card">
                <a href="#"><img id="imgPreview" src="{{ coffeeImg }}" class="card-img-top hover-shadow" alt="..."></a>
                <div class="card-body">
                    <h3 class="card-title text-center mb-4"><u><span class="px-1" id="brand-preview">Brand</span></u><span class="px-1" id="name-preview">Coffee</span></h3>
                    <ul class="bean-info">
                        <li>Roast: <span id="roast-preview"></span></li>
                        <li>Origin: <span id="origin-preview"></span></li>
                        <li>Organic: <span id="organic-preview">False</span></li>
                        <li><a id="website-preview" href="">More Info</a></li>
                    </ul>
                    <h5 class="text-center my-3">Notes:</h5>
                    <div class="preview-notes-container">
                    </div>
                    <div class="row mt-4 custom-card-footer justify-content-center">
                        <div class="user-submitted text-muted mt-3">Submitted by <a href="#">{{ full_name }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2 class="text-center my-4">Most recently added</h2>
    {{ card.input(beans) }}
</div>
{% endblock %}
{% block scripts %}
<script src="/static/add.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://www.filestack.com/docs/js/picker.js"></script>
{% endblock %}