{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Add a coffee</h2>
    <div class="row gy-4 justify-content-center">
        <div class="col-6 p-2">
            <form id="addCoffee" class="card" method="POST">
                <div class="img-upload form-group">
                    <div id="img-filebrowser" class="form-group text-center">
                        <a id="uploadTrigger" class="btn btn-primary">Upload Image</a>
                        <label for="imgURL" class="my-2">Or enter image URL below</label>
                        <input id="imgURL" name="imgURL" type="url" required placeholder="https://example.com/image.jpg">
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="brandInput" class="col-md-12 col-lg-2 col-form-label">Brand*</label>
                        <div class="col-md-12 col-lg-10">
                            <select id="brandInput" name="brand" class="dynamicSelection form-control form-control-lg" required>
                                <option selected disabled value="">Select brand</option>
                                {% for brand in brand_names %}
                                    <option>{{ brand }}</option>
                                {% endfor %}
                                <option disabled></option>
                                <option>Other...</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-lg-10 offset-lg-2 toggleInput">
                            <input type="text" name="brand" class="customInput mt-3 form-control form-control-lg" placeholder="Enter new brand">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nameInput" class="col-md-12 col-lg-2 col-form-label">Name*</label>
                        <div class="col-md-12 col-lg-10">
                            <input id="nameInput" name="name" type="text" placeholder="Enter coffee name" class="form-control form-control-lg" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="roastInput" class="col-md-12 col-lg-2 col-form-label">Roast*</label>
                        <div class="col-md-12 col-lg-10">
                            <select id="roastInput" name="roast" class="form-control form-control-lg" required>
                                <option value="" disabled selected>Select roast</option>
                                {% for roast in roast_types %}
                                    <option>{{ roast }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="originInput" class="col-md-12 col-lg-2 col-form-label">Origin*</label>
                        <div class="col-md-12 col-lg-10">
                            <select id="originInput" name="origin" class="dynamicSelection form-control form-control-lg" required>
                                <option selected disabled value="">Select origin</option>
                                {% for origin in origin_types %}
                                    <option>{{ origin }}</option>
                                {% endfor %}
                                <option disabled></option>
                                <option>Other...</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-lg-10 offset-lg-2 toggleInput">
                            <input type="text" name="origin" class="customInput form-control form-control-lg" placeholder="Enter new origin">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="organicToggle" class="col-md-12 col-lg-2 col-form-label">Organic</label>
                        <div class="col-md-12 col-lg-10">
                            <input id="organicToggle" name="organic" value="True" class="ml-2 form-check-input" type="checkbox">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="websiteInput" class="col-md-12 col-lg-2 col-form-label">Website*</label>
                        <div class="col-md-12 col-lg-10">
                            <input id="websiteInput" name="website" type="url" placeholder="https://example.com" class="form-control form-control-lg" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <span class="col-md-12 col-lg-2 col-form-label">Notes</span>
                        <div class="col-md-12 col-lg-10 add-notes">
                            <ul class="add-notes-container">
                                {% for note in uniqueNotes %}
                                    <li class="add-notes-checkboxes"><label><input name="note" value="{{ note }}" class="note-checkbox" type="checkbox">{{ note }}</label></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customNoteInput" class="col-12 col-form-label">Add another note</label>
                        <div class="col-md-12 col-lg-8">
                            <input id="customNoteInput" type="text" class="form-control form-control-lg">
                            <button id="addNote" class="btn btn-primary" disabled>Add</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <input id="submitCoffee" type="submit" class="btn btn-primary"></input>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="livePreview" class="col-6 p-2 h-100">
            <div class="card">
                <a href="#"><img id="imgPreview" src="{{ coffeeImg }}" class="card-img-top hover-shadow" alt="..."></a>
                <div class="card-body">
                    <h3 class="card-title text-center mb-4"><span id="brand-preview">Brand:</span><span id="name-preview">Coffee</span></h3>
                    <ul class="bean-info">
                        <li>Roast: <span id="roast-preview"></span></li>
                        <li>Origin: <span id="origin-preview"></span></li>
                        <li>Organic: <span id="organic-preview">False</span></li>
                        <li><a id="website-preview" href="">More Info</a></li>
                    </ul>
                    <h5 class="text-center my-3">Notes:</h5>
                    <div class="preview-notes-container">
                    </div>
                    <div class="row mt-4 custom-card-footer justify-content-center">
                        <div class="user-submitted text-muted mt-3">Submitted by <a href="#">Sam Baker</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2 class="text-center my-4">Most recently added</h2>
    <div class="row gy-4">
        {% for bean in beans %}
            <div class="col-12 col-md-6 col-lg-4 p-2">
                <div class="card">
                    <a href="{{ bean.url }}"><img src="{{ bean['img-url'] }}" class="card-img-top hover-shadow" alt="..."></a>
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">{{ bean.brand }}: {{ bean.name }}</h3>
                        <ul class="bean-info">
                            <li>Roast: {{ bean.roast }}</li>
                            <li>Origin: {{ bean.origin }}</li>
                            <li>Organic: {{ bean.organic }}</li>
                            <li><a href="{{ bean.url }}">More Info</a></li>
                        </ul>
                        <h5 class="text-center my-3">Notes:</h5>
                        <div class="notes-container">
                            {% for note in bean.notes %}
                                <span class="note-bubble bean-note">{{ note }}</span>
                            {% endfor %}
                        </div>
                        <div class="row mt-4 custom-card-footer justify-content-center">
                            <div class="user-submitted text-muted mt-3">Submitted by <a href="#">Sam Baker</a></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/add.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://www.filestack.com/docs/js/picker.js"></script>
{% endblock %}