{% extends "base.html" %}
{% import 'pagination.html' as pagination %}

{% block title %}CoffeeDB: View All Reviews{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mx-4">
            <div class="col-2 d-none d-sm-block text-left">
                <div class="my-4 text-center">
                    <a class="h3" href="{{ url_for('viewSubmission', submissionId=submissionId) }}"><i class="bi bi-arrow-left-circle"></i></a>
                </div>
            </div>
            <div class="col text-center">
                <h2 class="my-4">All reviews</h2>
            </div>
            <div class="col-2 d-none d-sm-block">
            </div>
        </div>
        <div class="col-lg-12 col-xl-10 mx-auto">
            <form method="GET" class="form-inline justify-content-end">
                <label class="mx-2 pb-2" for="sortSelect">Sort by</label>
                <select id="sortSelect" name="sort" class="custom-select mb-2 mr-2">
                    <option {% if (request.args.get('sort') == 'dateDesc') or not (request.args.get('sort')) %}selected{% endif %} value="dateDesc">Date (Most Recent)</option>
                    <option {% if request.args.get('sort') == 'dateAsc' %}selected{% endif %} value="dateAsc">Date (Oldest)</option>
                    <option {% if request.args.get('sort') == 'ratingDesc' %}selected{% endif %} value="ratingDesc">Rating (High > Low)</option>
                    <option {% if request.args.get('sort') == 'ratingAsc' %}selected{% endif %} value="ratingAsc">Rating (Low > High)</option>
                </select>
                <button type="submit" class="btn btn-custom ml-2 mb-2">Submit</button>
            </form>
        </div>
        <div class="col-lg-12 col-xl-10 mx-auto">
            {% for item in submission_data %}
                <div class="card p-4 my-3 {% if item['username'] == session['user'] %}bg-highlight{% endif %}">
                    <div class="row px-3">
                        <blockquote class="blockquote my-auto">
                            <p class="mb-0">{{ item['text'] }}</p>
                            <footer class="blockquote-footer">
                                <a href="{{ url_for('profile', username=item['username']) }}">{{ item['username'] }}</a>
                                {% if ('rating' in item) and (item.rating['username'] == item['username']) %}
                                    {% for score in range(item.rating['score']) %}
                                        <i class="bi bi-star-fill star-rating"></i>
                                    {% endfor %}
                                {% endif %}
                                on <cite>{{ item['reviewTimestamp'].strftime('%d-%m-%Y %H:%M') }}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}