{% extends "base.html" %}
{% import 'individual_card.html' as individual_card %}
{% import 'card.html' as card_stack %}

{% block styles %}
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="row text-center mt-2 justify-content-center">
                <div class="col-10 alert {% if category == 'warning' %}alert-warning{% elif category == 'success' %}alert-success{% endif %}" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="text-center mt-4">{% block header %}{% endblock %}</h2>
            </div>
            <div class="d-none d-lg-block col-6">
                <h2 class="text-center mt-4">Live preview</h2>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-12 col-lg-6 p-2">
                <form id="{{ form_type }}" name="{{ form_type }}" class="card data-card mx-2" method="POST" enctype='multipart/form-data'>
                    <h6 class="text-center text-muted mt-4 mb-0">Required*</h6>
                    <div class="d-block d-lg-none img-upload form-group">
                        <img class="img-preview card-img-top" src="{% if submissionImg %}{{ submissionImg }}{% else %}{{ coffeeImg }}{% endif %}" alt="Submission image">
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="uploadImg" class="col-md-12 col-lg-3 col-form-label text-center">Image{% if request.endpoint == 'add' %}*{% endif %}</label>
                            <div class="col-md-12 col-lg-9 mb-2">
                                <div class="custom-file">
                                    <input type="file" accept="image/*" name="uploadImg" id="uploadImg" class="custom-file-input" {% if request.endpoint == 'add' %}required{% endif %}>
                                    <label class="custom-file-label data-card form-control form-control-lg" for="uploadImg">Choose image file</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="brandInput" class="col-md-12 col-lg-3 col-form-label text-center">Brand*</label>
                            <div class="col-md-12 col-lg-9">
                                <select id="brandInput" name="brand" class="dynamicSelection custom-input form-control form-control-lg custom-capitalize" required>
                                    {% if brand_choice is not defined %}
                                        <option selected disabled value="">Select brand</option>
                                    {% endif %}
                                    {% for brand in brand_names %}
                                        {% if brand_choice == brand %}
                                            <option selected>{{ brand }}</option>
                                        {% else %}
                                            <option>{{ brand }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    <option disabled></option>
                                    <option>Other...</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-lg-9 offset-lg-3 toggleInput">
                                <input id="customBrand" type="text" maxlength="35" name="brand" class="dynamicInput mt-3 form-control form-control-lg custom-input" placeholder="Enter new brand">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nameInput" class="col-md-12 col-lg-3 col-form-label text-center">Name*</label>
                            <div class="col-md-12 col-lg-9">
                                <input id="nameInput" name="name" maxlength="35" type="text" {% if coffee_name %}value="{{ coffee_name }}"{% else %}placeholder="Enter coffee name"{% endif %} class="form-control form-control-lg custom-capitalize custom-input" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="roastInput" class="col-md-12 col-lg-3 col-form-label text-center">Roast*</label>
                            <div class="col-md-12 col-lg-9">
                                <select id="roastInput" name="roast" class="form-control form-control-lg custom-input custom-capitalize" required>
                                    {% if roast_choice is not defined %}
                                        <option value="" disabled selected>Select roast</option>
                                    {% endif %}
                                    {% for roast in roast_types %}
                                        {% if roast_choice == roast %}
                                            <option selected>{{ roast }}</option>
                                        {% else %}
                                            <option>{{ roast }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="originInput" class="col-md-12 col-lg-3 col-form-label text-center">Origin*</label>
                            <div class="col-md-12 col-lg-9">
                                <select id="originInput" name="origin" class="dynamicSelection form-control form-control-lg custom-input custom-capitalize" required>
                                    {% if origin_choice is not defined %}
                                        <option selected disabled value="">Select origin</option>
                                    {% endif %}
                                    {% for origin in origin_types %}
                                        {% if origin_choice == origin %}
                                            <option selected>{{ origin }}</option>
                                        {% else %}
                                            <option>{{ origin }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    <option disabled></option>
                                    <option>Other...</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-lg-9 offset-lg-3 toggleInput">
                                <input type="text" id="customOrigin" maxlength="20" name="origin" class="dynamicInput mt-3 custom-input form-control form-control-lg" placeholder="Enter new origin">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="organicToggle" class="col-md-12 col-lg-3 col-form-label text-center">Organic*</label>
                            <div class="col-md-12 col-lg-8 text-center text-lg-left pt-1">
                                <div class="checkbox-container">
                                    <input type="radio" id="organicFalse" name="organicRequired" value=False {% if not organic_choice %}checked{% endif %}>
                                    <label for="organicFalse" class="filter-toggle">Not organic</label>
                                    <input type="radio" id="organicTrue" name="organicRequired" value=True {% if organic_choice == True %}checked{% endif %}>
                                    <label for="organicTrue" class="filter-toggle">Organic</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="websiteInput" class="col-md-12 col-lg-3 col-form-label text-center">Website</label>
                            <div class="col-md-12 col-lg-9">
                                <input id="websiteInput" name="website" type="url" {% if url_input %}value="{{ url_input }}"{% else %}placeholder="https://example.com"{% endif %} class="form-control form-control-lg custom-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-md-12 col-lg-3 col-form-label text-center">Notes*<br><span class="text-muted">(Max 4)</span></span>
                            <div class="col-md-12 col-lg-9 add-notes">
                                {% for note in uniqueNotes %}
                                    <span class="checkbox-container m-1">
                                        <input type="checkbox" id="{{ note|replace(' ', '') }}" class="note-checkbox" name="note" value="{{ note }}" {% if note is in notes_input %}checked{% endif %}>
                                        <label for="{{ note|replace(' ', '') }}" class="filter-toggle">{{ note }}</label>
                                    </span>
                                {% endfor %}
                                <br>
                                <button id="showMoreNotes" aria-label="Toggle visibility of more note options" type="button" class="show-more w-100 my-2">Show all {{ uniqueNotes|length }} notes <i class="bi bi-chevron-compact-down"></i></button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="customNoteInput" class="col-12 col-form-label text-center">Add another note</label>
                            <div class="col-12 input-group">
                                <input id="customNoteInput" id="customNotes" maxlength="25" type="text" class="form-control custom-input">
                                <div class="input-group-append">
                                    <button id="addNote" aria-label="Add note" class="btn add-btn" type="button" disabled>Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 text-center">
                                {% block addSubmit %}
                                {% endblock %}
                                {% block editSubmit %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="livePreview" class="col-6 d-none d-lg-block p-2 card-sticky h-100">
                <div class="card data-card">
                    <a href="#"><img src="{% if submissionImg %}{{ submissionImg }}{% else %}{{ coffeeImg }}{% endif %}" class="img-preview card-img-top hover-shadow" alt="Submission image"></a>
                    <div class="card-body">
                        <h3 class="text-center mb-4 custom-capitalize">
                            <u><div class="mb-2" id="brand-preview">{% if brand_choice %}{{ brand_choice }}{% else %}Brand{% endif %}</div></u>
                            <div id="name-preview">{% if coffee_name %}{{ coffee_name }}{% else %}Coffee{% endif %}</div>
                        </h3>
                        <ul class="bean-info">
                            <li>Roast: <span id="roast-preview">{% if roast_choice %}{{ roast_choice }}{% endif %}</span></li>
                            <li>Origin: <span id="origin-preview">{% if origin_choice %}{{ origin_choice }}{% endif %}</span></li>
                            <li class="organic-preview">{% if organic_choice == True %}Organic{% else %}Not organic{% endif %}</li>
                            <li><a id="website-preview" href="{% if url_input %}{{ url_input }}{% else %}#{% endif %}">More Info</a></li>
                        </ul>
                        <h5 class="text-center my-3">Notes:</h5>
                        <div class="preview-notes-container"></div>
                        <div class="row mt-4 custom-card-footer justify-content-center">
                            <div class="user-submitted text-muted mt-3 custom-capitalize ">Submitted by <a href="#">{{ full_name }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}