{% extends "base.html" %}
{% set active_page = request.path %}

{% block content %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="row text-center mt-2 justify-content-center">
                    <div class="col-10 alert {% if category == 'warning' %}alert-warning{% elif category == 'success' %}alert-success{% endif %}" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2 class="text-center mt-4 custom-capitalize">{{ getUserData.firstName }}'s profile</h2>
    <h6 class="text-center">Member since {{ getUserData.userSince }}</h6>
    {% if getUserData.userSubmissionsCount > 0 %}<h6 class="text-center">{{ getUserData.userSubmissionsCount }} submission{% if getUserData.userSubmissionsCount > 1 %}s{% endif %} </h6>{% endif %}
    <div class="row">
        <div class="col-12 p-0 p-sm-4">
            <div class="card">
                <div class="card-body">
                    {% if session["user"] == username %}
                    <div class="row">
                        <div class="col-12">
                            <nav class="nav nav-pills nav-justified mt-2">
                                {% set active_tab = request.path %}
                                <div class="col-12 col-md-4"><a class="nav-item nav-link {% if active_page == url_for('profile', username=session['user']) %}active{% endif %}" href="{{ url_for('profile', username=session['user']) }}">View your submissions</a></div>
                                <div class="col-12 col-md-4"><a class="nav-item nav-link {% if active_page == url_for('update_account', username=session['user']) %}active{% endif %}" href="{{ url_for('update_account', username=session['user']) }}">Update account information</a></div>
                                <div class="col-12 col-md-4"><a class="nav-item nav-link {% if active_page == url_for('delete_account', username=session['user']) %}active{% endif %}" href="{{ url_for('delete_account', username=session['user']) }}">Delete account</a></div>
                            </nav>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                {% block profile_content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}