{% import 'nav.html' as navbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" type="text/css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora:ital,wght@1,600&family=Montserrat:wght@800&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Codystar&family=Pacifico&display=swap" rel="stylesheet">   
    
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/site.webmanifest">
    <link rel="mask-icon" href="/static/assets/safari-pinned-tab.svg" color="#f8a825">
    <link rel="shortcut icon" href="/static/assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#f8a825">
    <meta name="msapplication-config" content="/static/assets/browserconfig.xml">
    <meta name="theme-color" content="#f8a825">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
    <title>{% block title %}{% endblock %}</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->


</head>
<body>
    {% if not request.endpoint == 'index' %}{{ navbar.input() }}{% endif %}
    <div class="base-content">
        {% block content %}
        {% endblock %}
    </div>
    <footer id="baseFooter">
        <div class="row h-100">
            <div class="col-12 col-md-4 text-center order-10 order-md-2 align-self-center my-2">Copyright CoffeeDB 2021</div>
            <div class="col-12 col-md-4 text-center order-2 order-md-10 align-self-center my-3"><a class="go-to-top" href="#">Go to top</a></div>
            <div class="col-12 col-md-4 text-center order-11 order-md-11 align-self-center"><a href="#">Contact us</a></div>
        </div>
    </footer>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>