{% extends "base.html" %}

{% block content %}
    
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="my-4">Popular tasting notes</h2>
        </div>
        <div class="row justify-content-center">
            <div class="word-cloud">
                <span class="note-bubble cloud-note">almond</span>
                <span class="note-bubble cloud-note">chocolate</span>
                <span class="note-bubble cloud-note">caramel</span>
                <span class="note-bubble cloud-note">fudge</span>
                <span class="note-bubble cloud-note">cherry</span>
                <span class="note-bubble cloud-note">lemon</span>
                <span class="note-bubble cloud-note">orange</span>
                <span class="note-bubble cloud-note">banana</span>
                <span class="note-bubble cloud-note">malt</span>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h2 class="text-center my-4">Filter criteria</h2>
        <form class="row" method="POST" name="sentCriteria" id="filterCriteria" novalidate>
            <div class="col-12 col-lg-4">
                <h4 class="text-center">Roast</h4>
                <div class="filter-checks form-group">
                    {% for roast in roast_types %}
                        <input type="checkbox" id="{{ roast }}" name="roast={{ roast }}" {% if roastChecked|length != 0 %} {% if roast in roastChecked %} checked  {% endif %} {% endif %}>
                        <label for="{{ roast }}">{{ roast }}</label><br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h4 class="text-center">Origin</h4>
                <div class="filter-checks form-group">
                    {% for origin in origin_types %}
                        <input type="checkbox" id="{{ origin }}" name="origin={{ origin }}" {% if originChecked|length != 0 %} {% if origin in originChecked %} checked  {% endif %} {% endif %}>
                        <label for="{{ origin }}">{{ origin }}</label><br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col-12 col-lg-6 text-center form-group">
                        <h4>Organic</h4>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="organicRequired" name="organicRequired" {% if organicChecked %} checked {% endif %}>
                            <label class="custom-control-label" id="organicLabel" for="organicRequired">{% if organicChecked %}Is required{% else %}Not required{% endif %}</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 text-center form-group">
                        <input type="submit" name="reset" value="Reset" class="btn btn-secondary"><br>
                        <input type="submit" name="submit" value="Submit" class="btn btn-primary"></input>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <h5 class="text-center">{{ beans.count() }} {% if beans.count() == 1 %}product{% else %}products{% endif %} displayed</h5>
        <div class="row gy-4">
        {% for bean in beans %}
                <div class="col-12 col-md-6 col-lg-4 p-2">
                    <div class="card">
                        <a href="{{ bean.url }}"><img src="{{ bean['img-url'] }}" class="card-img-top hover-shadow" alt="..."></a>
                        <div class="card-body">
                            <h3 class="card-title text-center mb-4">{{ bean.brand }}: {{ bean.name }}</h3>
                            <ul class="bean-info">
                                <li>Roast: {{ bean.roast }}</li>
                                <li>Origin: {{ bean.origin }}</li>
                                <li>Organic: {{ bean.organic }}</li>
                                <li><a href="{{ bean.url }}">More Info</a></li>
                            </ul>
                            <h5 class="text-center my-3">Notes:</h5>
                            <div class="notes-container">
                                {% for note in bean.notes %}
                                    <span class="note-bubble bean-note">{{ note }}</span>
                                {% endfor %}
                            </div>
                            <div class="row mt-4 custom-card-footer justify-content-center">
                                <div class="user-submitted text-muted mt-3">Submitted by <a href="#">Sam Baker</a></div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}
{% block scripts %}
<script src="/static/browse.js"></script>
{% endblock %}