{% macro input(pageQuantity, page_variable, formName) -%}
    <div class="container mt-4">
        <div class="row mb-4">
            {% if pageQuantity > 1 %}
            <div class="col-6 text-left">
                <button form="{{ formName }}" aria-label="Previous page" type="submit" name="page" class="pagination-btn" {% if page_variable == 1 %}disabled{% endif %} value="{{ page_variable - 1}}">
                    <i class="bi bi-arrow-left-short align-self-center"></i>
                </button>
            </div>
            {% endif %}
            {% if pageQuantity > 1 %}
            <div class="col-6 text-right">
                <button form="{{ formName }}" aria-label="Next page" type="submit" name="page" class="pagination-btn" {% if page_variable == pageQuantity %}disabled{% endif %} value="{{ page_variable + 1}}">
                    <i class="bi bi-arrow-right-short align-self-center"></i>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}