{% macro input(pageQuantity, headerText, totalCount, page_variable, offset, formName) -%}
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            {% if pageQuantity > 1 %}
            <div class="col-6  col-sm-2 text-center">
                <button form="{{ formName }}" type="submit" name="page" class="pagination-btn" {% if page_variable == 1 %}disabled{% endif %} value="{{ page_variable - 1}}">
                    <i class="bi bi-arrow-left-short align-self-center"></i>
                </button>
            </div>
            {% endif %}
            <div class="col-12 order-first order-sm-last col-sm-8 text-center">
                {% if headerText %}
                    <h2 class="mb-4">{{ headerText }} ({{ totalCount }})</h2>
                {% endif %}
                <h5 class="text-center">Showing results {{ offset + 1 }} to {% if offset + 6 < totalCount %}{{ offset + 6 }}{% else %}{{ totalCount }}{% endif %} ({% if page_variable %}Page {{ page_variable }}{% else %}Page 1{% endif %} of {{ pageQuantity }})</h5>
            </div>
            {% if pageQuantity > 1 %}
            <div class="col-6 order-last col-sm-2 text-center">
                <button form="{{ formName }}" type="submit" name="page" class="pagination-btn" {% if page_variable == pageQuantity %}disabled{% endif %} value="{{ page_variable + 1}}">
                    <i class="bi bi-arrow-right-short align-self-center"></i>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}