{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Welcome</h2>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Profile</h3>
                    <div class="row mt-4 justify-content-center">
                        Hello {{ username }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}