{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Welcome</h2>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Profile</h3>
                    <div class="row mt-4 justify-content-center">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                <div class="row text-center justify-content-center">
                                    <div class="col-10 alert {% if category == 'warning' %}alert-warning{% endif %}{% if category == 'success' %}alert-success{% endif %}" role="alert">
                                        <strong>Alert!</strong> {{ message }}
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}