{% macro input(formId) %}
    <label for="searchInput" class="h4">Quick search</label>
    <div class="container-fluid">
        <div class="searchInputContainer row">
            <input id="searchInput" type="text" name="searchCriteria" form="{{ formId }}" {% if request.args.get('searchCriteria') %}value="{{ request.args.get('searchCriteria') }}"{% endif %} class="mx-2 quick-search" placeholder="Enter brand or coffee name">
            <button type="submit" aria-label="Submit search query" form="{{ formId }}" class="search-btn">&#10140;</button>
        </div>
    </div>
{% endmacro %}