{% extends "base_profile.html" %}

{% block title %}CoffeeDB: Update Account{% endblock %}

{% block profile_content %}
    <div class="account-input mx-auto">
        <h3 class="card-title text-center">Account information</h3>
        <div class="row my-4 justify-content-center mx-auto">
            <form id="updateAccount" method="POST" class="w-100">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">First name</label>
                        <input type="text" class="form-control custom-capitalize custom-input" name="inputFirstName" id="inputFirstName" value="{{ first_name }}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLastName">Last name</label>
                        <input type="text" class="form-control custom-capitalize custom-input" name="inputLastName" id="inputLastName" value="{{ last_name }}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control custom-input" name="inputEmail" id="inputEmail" value="{{ email }}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control custom-input" name="inputUsername" id="inputUsername" value="{{ username }}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button type="submit" name="updateAccount" form="updateAccount" class="btn btn-custom px-4">Save changes</button>
                    </div>
                </div>
                <hr>
            </form>
            <form id="changePassword" method="POST" class="w-100">
                <h3 class="card-title text-center">Change password</h3>
                <h6 class="text-center">All fields required</h6>
                <div class="form-row mt-4 w-100">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">New password</label>
                        <input type="password" class="form-control mb-3 custom-input" minlength="8" name="inputPassword" id="inputPassword" placeholder="Password" required>
                        <label for="inputConfirmPassword">Confirm new password</label>
                        <input type="password" class="form-control custom-input" minlength="8" name="inputConfirmPassword" id="inputConfirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password criteria</label>
                        <div class="bg-light password-checker p-3 w-100">
                            <i id="characterLength" class="bi bi-check-circle"></i> At least 8 characters<br>
                            <i id="uppercaseCheck" class="bi bi-check-circle"></i> At least 1 uppercase letter<br>
                            <i id="numberCheck" class="bi bi-check-circle"></i> At least 1 number<br>
                            <i id="matchCheck" class="bi bi-check-circle"></i> Passwords must match
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputExistingPassword"><strong>Enter existing password</strong></label>
                        <input type="password" minlength="8" class="form-control custom-capitalize custom-input" name="inputExistingPassword" id="inputExistingPassword" placeholder="Enter password" required>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" name="changePassword" form="changePassword" disabled class="btn password-criteria account_input_btn">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='account_input.js') }}"></script>
{% endblock %}