{% extends "base.html" %}
{% import 'individual_card.html' as individual_card %}

{% block title %}CoffeeDB: View submission{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="my-4">View submission</h2>
        </div>
        <div class="row">
            <div class="col-6">
                {{ individual_card.input(submission_data) }}
            </div>
            <div class="col-6">
                <div class="card">
                    comment and rating
                </div>
            </div>
        </div>
    </div>
{% endblock %}